@inherits LayoutComponentBase


<div class="main">
    <div class="top-row px-4">
        <div class="top-row-left px-4">
            <span class="page-title"> Image to Text Coverter</span><br />
            <small>with Blazor WebAssembly</small>
        </div>
        <div class="top-row-right">
            Source on Gihub | <a href="https://twitter.com/georgekosmidis" target="_blank">Contact on Twitter</a>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
